.Btn{
    background-color: #B4DDC9;
    border-radius: 30px;
    padding: 18px 10px;
    max-width: 234px;
    display: flex;
    gap: 8px;
    margin-top: 55px;
    .BtnText{
        font-size: 18px;
        font-weight: 500;
    }
}

