.block{
    margin-top: 116px;
    .MainText{
        font-size: 48px;
        color: #1C5939;
        font-weight: 700;
        display: flex;
        justify-content: center;
    }
    .subtext{
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
    .containerWrapper{
        display: flex;
        justify-content: space-around;
        padding-top: 60px;
        .container{
            background-color: rgb(255, 255, 255);
            max-width: 412px;
            padding: 27px 54px;
            border-radius: 16px;
            span{
                font-size: 32px;
                font-weight: 900;
            }
            p{
                font-size: 17px;
                font-weight: 400;
            }
        }
    }
}